
instance/papers.db
__pycache__/*
.vscode/spellright.dict
papers_data.json
tfidf_vectorizer.pkl
feature_vectors.pkl
feature_vectors.npz
S&P_information.txt
instance/papers.db-journal
semantic_vectors.npz
paper_hashes.json
