<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav class="navbar">
        <div class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </div>
        <!-- <div class="nav-item">
            <a href="/settings" class="nav-link">Settings</a>
        </div> -->
    </nav>
    <div class="container">
        <h1>Settings</h1>
        <form action="{{ url_for('update_settings') }}" method="post">
            <div class="form-group">
                <label for="default_arxiv_query">Default Arxiv Query:</label>
                <input type="text" id="default_arxiv_query" name="default_arxiv_query"
                    value="{{ settings.default_arxiv_query }}" class="form-control">
            </div>

            <div class="form-group">
                <label for="number_of_similar_papers">Number of Similar Papers:</label>
                <input type="number" id="number_of_similar_papers" name="number_of_similar_papers"
                    value="{{ settings.number_of_similar_papers }}" class="form-control">
            </div>

            <div class="form-group">
                <label for="search_feature">Search Feature:</label>
                <select id="search_feature" name="search_feature" class="form-control">
                    <option value="tf-idf" {% if settings.search_feature=='tf-idf' %}selected{% endif %}>TF-IDF</option>
                    <option value="semantic" {% if settings.search_feature=='semantic' %}selected{% endif %}>Semantic
                    </option>
                    <option value="both" {% if settings.search_feature=='both' %}selected{% endif %}>Both</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Update Settings</button>
        </form>
    </div>
</body>

</html>