<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Similar Papers to "{{ base_paper.title }}"</title>
    <!-- Add the same style as in index.html -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <!-- At the beginning of <body> in similar_papers.html -->
    <h1>Base paper</h1>
    <div class="container">
        <div class="paper base-paper">
            <h2>
                {% if base_paper.publication_url %}
                    <a href="{{ base_paper.publication_url }}" target="_blank">{{ base_paper.title }}</a>
                {% elif base_paper.arxiv_url %}
                    <a href="{{ base_paper.arxiv_url }}" target="_blank">{{ base_paper.title }}</a>
                {% else %}
                    {{ base_paper.title }}
                {% endif %}
            </h2>
            
            <div class="base_paper-info">
                {% if base_paper.publication_name and base_paper.publication_date %}
                <p><strong>Published in: {{ base_paper.publication_name }} {{ base_paper.publication_date.strftime('%Y') }}</strong></p>
                {% endif %}
                {% if base_paper.arxiv_id and base_paper.arxiv_upload_date and base_paper.arxiv_category %}
                    <p><strong>Upload Date:</strong> {{ base_paper.arxiv_upload_date.strftime('%Y-%m-%d') }}</p>
                    <p><strong>Arxiv Category:</strong>{{ base_paper.arxiv_category }}</p>
                    <p><strong>Arxiv id:</strong> {{ base_paper.arxiv_id }}</p>
                {% endif %}
                {% if score %}
                    <p><strong>Relevance Score:</strong> {{ "%.2f" % score }}</p>
                {% endif %}
                <p class="full-width"><strong>Authors:</strong> {{ base_paper.authors }}</p>
                <p class="full-width"><strong>Abstract:</strong> {{ base_paper.abstract }}</p>
                <div class="paper-actions">
                    {% if base_paper.arxiv_url %}
                        <a href="{{ base_paper.arxiv_url }}" class="btn btn-primary" target="_blank">Arxiv</a>
                    {% endif %}
                    {% if base_paper.publication_url %}
                        <a href="{{ base_paper.publication_url }}" class="btn btn-primary" target="_blank">Publication</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1><a href="/" style="text-decoration: none; color: inherit;">Similar Paper List</a></h1>
        <div id="similarPapersList">
            {% for paper, similarity in similar_papers %}
            <div class="paper">
                <h2>
                    {% if paper.publication_url %}
                        <a href="{{ paper.publication_url }}" target="_blank">{{ paper.title }}</a>
                    {% elif paper.arxiv_url %}
                        <a href="{{ paper.arxiv_url }}" target="_blank">{{ paper.title }}</a>
                    {% else %}
                        {{ paper.title }}
                    {% endif %}
                </h2>
                
                <div class="paper-info">
                    {% if paper.publication_name and paper.publication_date %}
                    <p><strong>Published in: {{ paper.publication_name }} {{ paper.publication_date.strftime('%Y') }}</strong></p>
                    {% endif %}
                    {% if paper.arxiv_id and paper.arxiv_upload_date and paper.arxiv_category %}
                        <p><strong>Upload Date:</strong> {{ paper.arxiv_upload_date.strftime('%Y-%m-%d') }}</p>
                        <p><strong>Arxiv Category:</strong>{{ paper.arxiv_category }}</p>
                        <p><strong>Arxiv id:</strong> {{ paper.arxiv_id }}</p>
                    {% endif %}
                    {% if similarity %}
                        <p><strong>Relevance Score:</strong> {{ "%.2f" % similarity }}</p>
                    {% endif %}
                    <p class="full-width"><strong>Authors:</strong> {{ paper.authors }}</p>
                    <p class="full-width"><strong>Abstract:</strong> {{ paper.abstract }}</p>
                </div>
                <div class="paper-actions">
                    {% if paper.arxiv_url %}
                        <a href="{{ paper.arxiv_url }}" class="btn btn-primary" target="_blank">Arxiv</a>
                    {% endif %}
                    {% if paper.publication_url %}
                        <a href="{{ paper.publication_url }}" class="btn btn-primary" target="_blank">Publication</a>
                    {% endif %}
                    <a href="{{ url_for('similar_papers', paper_id=paper.id) }}" class="btn btn-primary">Similar</a>
                    <a href="{{ url_for('edit_paper', paper_id=paper.id) }}" class="btn btn-primary">Edit</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="backLink">
            <a href="/" class="pagination-button">Back to the main page</a>
        </div>
    </div>
</body>

</html>